
.profile_pic{
		float: right;
		padding: 0px 50px 10px 0px;
}

.tab-content{
		padding: 0px 100px 0px 110px;
}


.about_details{
		margin: 0px 0px 0px 0px;
}


body{
	font-family: "Garamond";
}

body div{
	font-size: medium;
}

/*
.nav-pills, .nav-pills .active a,
.nav-pills .active a:hover {
    background-color: green;
}
*/
